@CHARSET "UTF-8";
* {
	box-sizing: border-box;
	font-family: "나눔 고딕", "Noto Sans", sans-serif;
	text-align: center;
}
body {
	padding: 10px 0;
	background-color: #fff;
	font-size: 13px;
}
input {
	border: 1px solid #ddd;
	background-color: #fff;
}
input:HOVER {border: 1px solid #000;}
input:FOCUS {border: 1px solid #06c;}
input[type="type"], input[type="password"] {text-align: left;}
input[type="button"], input[type="submit"] {
	background-color: #fff;
	color: #06c;
}
input[type="button"]:HOVER, input[type="submit"]:HOVER {
	border: 1px solid #06c;
	background-color: #06c;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
table {border-collapse: collapse;}

/*Join Id Check.jsp*/
div#idcheck {
	margin: 0 auto;
	border: 1px solid #06c;
	padding: 10px;
}
div#idcheck form input[type="text"] {width: 200px;}
div#idcheck form input[type="submit"] {width: 90px;}
div#idcheck form p {
	padding: 5px 10px;
	background-color: #eee;
}
div#idcheck form input[type="button"] {width: 150px;}

/*Email Check.jsp*/
div#emailchk {
	padding: 70px 0;
	margin: 0px auto;
	border: 1px solid #06c;
}
div#emailchk form input[type="text"] {width: 200px;}
div#emailchk form input[type="submit"] {width: 90px;}

/*Email Check Update.jsp*/
div#emailchkup {
	margin: 0px auto;
	padding: 50px 0;
	border: 1px solid #06c;
}
div#emailchkup form label {margin-right: 10px;}
div#emailchkup form input[type="text"] {width: 240px;}
div#emailchkup form input[type="submit"] {
	width: 100px;
	margin-top: 10px;
}

/* Pass Change.jsp*/
div#passchange {
	margin: 0px auto;
	padding: 20px 0;
	border: 1px solid #06c;
}
div#passchange form {
	line-height: 2em;
	margin-left: 10px;
}
div#passchange form label {
	float: left;
	margin-left: 10px;
	width: 180px;
	text-align: left;
}
div#passchange form input[type="text"],
div#passchange form input[type="password"] {
	width: 150px;
	float: right;
	margin-right: 30px;
}
div#passchange form input[type="submit"],div#passchange form input[type="button"]  {
	width: 100px;
	margin-top: 20px; 
}

/*PM.jsp*/
form#pm {
	width: 550px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #06c;
}
form#pm h4, form#pm h5 {color: #06c;}
form#pm table {width: 100%;}
form#pm table * {text-align: left;}
form#pm input[type="submit"],
form#pm input[type="button"] {width: 100px;}

/* Res Cancel.jsp*/
div#res_cancel {
	margin: 0 auto;
	padding-bottom: 20px;
	border: 1px solid #06c;
}
div#res_cancel table {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 80%;
}
div#res_cancel table * {
	text-align: left;
	padding: 10px;
}
div#res_cancel table th {
	background-color: #eee;
	border-bottom: 1px solid #fff;
}
div#res_cancel table td {border-bottom: 1px solid #eee;}
span#cancel_rule_view {
	display: block;
	color: #f00;
}
div#res_cancel ul {list-style: none;}
div#res_cancel ul li {margin-left: -30px;}
div#res_cancel input[type="submit"],
div#res_cancel input[type="button"] {width: 100px;}

/*Receive Change.jsp*/
div#receive_change {
	margin: 0 auto;
	padding-bottom: 10px;
	border: 1px solid #06c;
}
div#receive_change table {
	margin: 20px 5px 5px 5px;
}
div#receive_change table * {text-align: left;}
div#receive_change table th {
	width: 80px;
	background-color: #eee;
	border-bottom: 1px solid #fff;
	padding: 5px;
}
div#receive_change table td {
	border-bottom: 1px solid #eee;
	padding: 5px;
}

/*Receive Add.jsp*/
div#receive_add {
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 20px;
	border: 1px solid #06c;
}
div#receive_add table * {text-align: left;}
div#receive_add table tr {height: 30px;}
div#receive_add table th {width: 100px;}
div#receive_add table input[type="text"],
div#receive_add table input[type="tel"] {width: 230px;}

/*Receive Setting.jsp*/
div#receive_setting {
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 20px;
	border: 1px solid #06c;
}
div#receive_setting table {
	margin: 20px auto;
	width: 100%;
}
div#receive_setting th {
	width: 70px;
	background-color: #f0f0f0;
}
div#receive_setting td {
	text-align: left;
	padding: 5px;
}

/* Trade Update Info.jsp*/
div#trade_update_info {
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 20px;
	border: 1px solid #06c;
}
div#trade_update_info table {
	 width: 100%;
	 margin-bottom: 30px;
}
div#trade_update_info table * {padding: 5px;}
div#trade_update_info table tr {border-bottom: 1px solid #ddd;}
div#trade_update_info table th {
	width: 80px;
	background-color: #f0f0f0;
}

/*To Cancel or Exchange.jsp*/
div#to_cancel_or_exchange {
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 20px;
	border: 1px solid #06c;
}
div#to_cancel_or_exchange table {margin: 0 auto;}
div#to_cancel_or_exchange td {border-bottom: 1px solid #ddd;}
div#to_cancel_or_exchange th {
	background: #eee;
	border-bottom: 1px solid #fff;
	padding: 5px;
}

/*Thing Exchange.jsp*/
div#thing_exchange {
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #06c;
}
div#thing_exchange table {
	width: 100%;
	margin: 10px auto;
}
div#thing_exchange th {
	width: 80px;
	background: #eee;
	border-bottom: 1px solid #fff;
	padding: 5px;
}
div#thing_exchange td {
	text-align: left;
	border-bottom: 1px solid #ddd;
}
div#thing_exchange textarea {
	width: 100%;
	text-align: left;
}